@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bungee&family=Comic+Neue:wght@400;700&display=swap');

:root {
  --nav: #050606;
  --bg1: #3F4050;
  --bg2: #2D2E39;
  --light: #F8FAFF;
  --dark: #32333F;
  --accent: #FECA26;
  --secondary: #B6D0F7;
}

html,
body, #__next{
  padding: 0;
  margin: 0;
  background-color: var(--bg1);
  color: white;
  font-family: Comic Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.meme-container {
  display: flex;
}

.meme {
  position: relative;
  padding: 10px;
}
.meme > img {
  width: 100%;
  background: cover;
  margin-bottom: -5px;
  background-repeat: no-repeat;
}
.meme > h2 {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.3em 0;
  padding: 0;
  font-family: impact, sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.meme > .top {
  top: 0.1em;
}
.meme > .bottom {
  bottom: 0.1em;
}

.memelist {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.navbar {
  background-color: var(--nav);
  height: 2em;
}
.navbar > h1 {
  font-family: "Bangers";
  font-size: 1.5em;
  padding-top: 0.5em;
  cursor: pointer;
}
.navbar > form {
  font-family: "Comic Neue";
  position: absolute;
  right: 0.1em;
}
.navitems {
  margin-left: 1em;
  margin-right: 2em;
  margin-top: 0.6em;
}
.navitems > button {
  background-color: var(--bg1);
  font-family: "Comic Neue";
  color: white;
  width: 8em;
  border: none;
  margin-left: 1em;
}

h1 {
    font-family: "Bungee";
}

.buttonCard {
  width: 20vw;
  height: 45vh;
  background: #F8FAFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 2em;
  cursor: pointer;
}

.buttonCard > p {
  font-family: Comic Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  line-height: 1em;
  text-align: center;
  color: #1C1E23;
  padding: 0em 0.75em;
}

.createimg {
  object-fit: contain;
  width: 50%;
  max-width: 10em;
  padding-top: 10%;
  padding-bottom: 0.5em;
}

.coverimage {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}
