.card {
  display: inline-block;
  background-color: white;
  margin-top: 0.8em;
  cursor: pointer;
}

.image {
  width: 300px;
  object-fit: contain;
}

.react {
  padding-top: 0.5em;
  padding-left: 0.5em;
}
